<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link href="~/styles/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        @RenderPage("~/Shared/_Navigation.cshtml")
        <header class="jumbotron">
            <h1 class="text-center text-uppercase">About</h1>
            
        </header>
        <div class="container">
   
                <div class="col-sm-10">
                    <div class="col-sm-4">
                        <img class="img-rounded" src="~/images/desk-chair.png" width="300" height="300" />
                    </div>
                    <div class="col-sm-6 col-sm-offset-1">
                        <br />
                        <br />
                    <p>This website is a project for the BYU-Idaho CIT 301C course.</p>

                    <p>It was created by Tisha and Tenille.</p>
                    </div>
                </div>
            
        </div>
        @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
