@{
    var db = Database.Open("NavajaDeskOrders");
    var selectCommand = "SELECT * FROM deskorder";
    var searchTerm = "";

    if (!Request.QueryString["searchName"].IsEmpty())
    {
        selectCommand = "SELECT * FROM deskorder WHERE name LIKE @0";
        searchTerm = "%" + Request["searchName"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "orderNumber", rowsPerPage: 5);
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Navaja Custom Desks</title>
        <link href="~/styles/bootstrap.css" rel="stylesheet" />
    </head>
<body>
    @RenderPage("~/Shared/_Navigation.cshtml")
        <header class="jumbotron">
            <h1 class="text-center text-uppercase"> Navaja Custom Desks</h1>
        </header>
    <div class="container">
        <div class="row">
            
                <div class="col-md-4 col-md-offset-8">
                    <h4>Search Orders</h4>
                    <form method="get">
                        <div>
                            <label for="searchName">Name:</label>
                            <input type="text" name="searchName" value="@Request.QueryString["searchName"]" />
                            <input type="Submit" value="Search Name" /><br />
                        </div>
                    </form>
                </div>
                </div>

        <div class="row">
        <div class="col-sm-12">
            <h2>Past Orders</h2>
            @grid.GetHtml(
                    tableStyle: "table table-striped table-bordered",
                    columns: grid.Columns(
                        grid.Column(format: @<a href="~/EditOrder?deskOrderID=@item.deskOrderID">Edit</a>),
                        grid.Column(
                            columnName: "orderNumber",
                            header: "Order Number"),
                        grid.Column(
                            columnName: "width",
                            header: "Width"),
                        grid.Column(
                            columnName: "length",
                            header: "Length"),
                        grid.Column(
                            columnName: "numDrawer",
                            header: "Number of Drawers"),
                        grid.Column(
                            columnName: "materialType",
                            header: "Material Type"),
                        grid.Column(
                            columnName: "name",
                            header: "Customer Name"),
                        grid.Column(
                            columnName: "orderDate",
                            header: "Order Date"),
                        grid.Column(
                            columnName: "dateModified",
                            header: "Last Updated"),
                        grid.Column(
                            columnName: "totalPrice",
                            header: "Total Price"),
                        grid.Column(
                            columnName: "fk_rushOrderID",
                            header: "Rush Order"),
                        grid.Column(format: @<a href="~/DeleteOrder?deskOrderID=@item.deskOrderID">Delete</a>)
    )
)
            <br />
            <a href="~/AddOrder">Add an Order</a>
        </div>
           </div>
        <br />
    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
