@{
    var db = Database.Open("NavajaDeskOrders");
    var selectCommand = "SELECT * FROM deskorder";
    var searchTerm = "";

    if (!Request.QueryString["searchName"].IsEmpty())
    {
        selectCommand = "SELECT * FROM deskorder WHERE name LIKE @0";
        searchTerm = "%" + Request["searchName"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "orderNumber", rowsPerPage: 3);
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Navaja Custom Desks</title>
        <link href="~/styles/bootstrap.css" rel="stylesheet" />
        <style type="text/css">
            .grid {
                margin: 4px;
                border-collapse: collapse;
                width: 600px;
            }

                .grid th, .grid td {
                    border: 1px solid #C0C0C0;
                    padding: 5px;
                }

            .head {
                background-color: #E8E8E8;
                font-weight: bold;
                color: #FFF;
            }

            .alt {
                background-color: #f1d7d7;
                color: #000;
            }
        </style>
    </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">Navaja Custom Desks</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/">Home</a></li>
                    <li><a href="~/About">About</a></li>
                    <li><a href="~/Contact">Contact</a></li>
                </ul>
            </div>
       </div>
</div>

        <header class="jumbotron">
            <h1 class="text-center"> Navaja Custom Desks</h1>
        </header>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <h2>Past Orders</h2>
                @grid.GetHtml(
                    tableStyle: "grid",
                    headerStyle: "head",
                    alternatingRowStyle: "alt",
                    columns: grid.Columns(
                        grid.Column(format: @<a href="~/EditOrder?deskOrderID=@item.deskOrderID">Edit</a>),
                        grid.Column("orderNumber"),
                        grid.Column("width"),
                        grid.Column("length"),
                        grid.Column("numDrawer"),
                        grid.Column("materialType"),
                        grid.Column("name"),
                        grid.Column("orderDate"),
                        grid.Column("totalPrice"),
                        grid.Column("fk_rushOrderID"),
                        grid.Column(format: @<a href="~/DeleteOrder?deskOrderID=@item.deskOrderID">Delete</a>)
    )
)
                <p>
                    <a href="~/AddOrder">Add an Order</a>
                </p>

            </div>

            <div class="col-md-4 col-md-offset-1">
                <h2>Search Orders</h2>
                <form method="get">
                    <div>
                        <label for="searchName">Name:</label>
                        <input type="text" name="searchName" value="@Request.QueryString["searchName"]" />
                        <input type="Submit" value="Search Name" /><br />
                    </div>
                </form>
            </div>
        </div>
</body>
</html>
